@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-image: url(/img/back-transformed.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-nav:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
    transition: 0.5s;
    border-radius: 0 0 10px 10px;
}

.notify p {
    text-wrap: nowrap;
    overflow: hidden;
    animation: expandNotify 5s infinite;
}

@keyframes expandNotify {
    0% {
        width: 0%;
        background-color: rgba(0, 0, 0, 10%);
    }

    50% {
        width: 50%;
        background-color: rgba(0, 0, 0, 50%);
    }

    100% {
        width: 100%;
        background-color: rgba(0, 0, 0, 100%);
    }
}

/** block the cards  */
.cards-colors {
    border: 2px solid white;
    width: auto;
    padding: 5px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-color {
    width: 100%;
    height: 50%;
    border-radius: 16px;
    background-color: #ffe53b;
    /* background-color: #30cfd0; */
}

.container-text-color {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid white;
    width: 100%;
    padding: 0 10px;
}

.button-copy {
    background-color: gray;
    border-radius: 5px;
    margin: 10px;
    width: 50%;
    color: white;
}

/** block the gradients */
.cards-gradient {
    border: 2px solid white;
    width: auto;
    padding: 5px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-gradient {
    background: linear-gradient(90deg ,#ffe53b, #00ffff);
    width: 100%;
    height: 50%;
    border-radius: 16px;
}

.container-text-gradient {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid white;
    width: 100%;
    padding: 0 10px;
}

/** block the fonts */

.card-font {
    width: 100%;
    /* background-color: white; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
}

.name-font {
    /* margin-bottom: 10px; */
    /* border: 1px solid #e5e7eb; */
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-right: 1.5rem;
    text-align: center;
}

.box-the-text {
    border: 1px solid white;
}

.text-example {
    text-align: center;
    padding: 8px;
}

/** resposive  */
@media screen and (min-width:700px) {
    .block-color {
        width: 100%;
        height: 50%;
        border-radius: 16px;
        /* background-color: #30cfd0; */
    }

    .container-text-color {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        padding: 0 5px;
    }

}

/** animations */

.typing-title {
    animation: typing 3s steps(100) infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    text-align: center;
    cursor: text;
    background: linear-gradient(to right, #30cfd0 0%, #a357ff 100%);
    background-clip: text;
    color: transparent;
}


@keyframes typing {
    0% {
        width: 0%;
    }

    25% {
        width: 25%;
    }

    50% {
        width: 50%;
    }

    75% {
        width: 75%;
    }

    100% {
        width: 100%;
    }
}